<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Send feedback</h4>
            </div>
            @using (Ajax.BeginForm("Feedback", "Home", new AjaxOptions { OnComplete = "closeModal" }))
            {
                <div class="modal-body">
                    <p>Thank you for ....</p>
                    @Html.TextArea("content")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    function closeModal() {
        $('#myModal').modal('hide');
    }
</script>