<nav class="navbar navbar-inverse navbar-fixed-top navbartext">
	<div class="row">
	<center>
		<div class="col-md-6 logo">
				<a href="/">News Feeds for the Lazies</a>
		</div>
		<div class="col-md-6 date">
				<p>Today: 
					<%= Time.now.localtime.strftime("%m-%d-%Y") %>
				</p>
		</div>
	</center>
	</div>
</nav>